@import url(../../libs/datatable/css/datatable.min.css);
@import url(../../libs/toastr/css/toastr.min.css);

:root {
    --background: rgb(29, 32, 33);
    --red: #E52E54;
    --blue: #133862;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
}

.logo {
    height: 55px;
    width: 215px;
    background: url(../img/softexpert.png) no-repeat;
}

.bg-primary {
    background: var(--blue) !important;
}

.btn-primary {
    color: #fff;
    background: var(--blue) !important;
    border-color: var(--blue) !important;
    box-shadow: 0 1px 2px rgb(0 0 0 / 5%);
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background: var(--blue) !important;
    border-color: var(--blue) !important;
}

input:out-of-range {
    border-color: var(--red);
}